#playfield {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
}

.tile {
    position: absolute;
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#scores > div {
    display: flex;
    justify-content: space-between;
}